<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
          http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>addEventServ</servlet-name>
        <servlet-class>ErrorApp2.CreateEventServ</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addEventServ</servlet-name>
        <url-pattern>/createEventS</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>editEventServ</servlet-name>
        <servlet-class>ErrorApp2.EditEventServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editEventServ</servlet-name>
        <url-pattern>/editEventS</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>deltetEventServ</servlet-name>
        <servlet-class>ErrorApp2.DeleteError</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deltetEventServ</servlet-name>
        <url-pattern>/deleteEventS</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>findDateServ</servlet-name>
        <servlet-class>ErrorApp2.FindEventByDate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>findDateServ</servlet-name>
        <url-pattern>/dateS</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>findDescServ</servlet-name>
        <servlet-class>ErrorApp2.FindEventByDesc</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>findDescServ</servlet-name>
        <url-pattern>/descS</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>ErrorApp2.MyServletContextListener</listener-class>
    </listener>

    <listener>
        <listener-class>ErrorApp2.MyServletContextAttributeListener</listener-class>
    </listener>

    <listener>
        <listener-class>ErrorApp2.MyHttpSessionListener</listener-class>
    </listener>


    <listener>
        <listener-class>ErrorApp2.MyHttpSessionAttributeListener</listener-class>
    </listener>




</web-app>